Library/ArtifactDB
Library/PackageCache
Library/Artifacts
Library/ShaderCache
Library/SourceAssetDB
Library/ShaderCache.db
Library/SceneVisibilityState.asset
Library/StateCache
Temp
Logs
Library/SceneVisibilityState.asset
Library/StateCache/MainStageHierarchy/d5/d52700ce073787f37b894d6ec1e336e2.json
Library/StateCache/SceneView/f2/f24893d4590734d55a21ce9941e65117.json
